<div class="btn-group-vertical btn-console" data-toggle="buttons">
  <!-- <label class="btn btn-primary active">
    <a href="/"><input type="radio" name="options" id="home-btn" autocomplete="off" checked> Home</a>
  </label> -->
  <button type="button" name="button" class="btn btn-primary active" id="home" >Home</button>
  <!-- <label class="btn btn-primary">
    <a href="/blog"><input type="radio" name="options" id="blog-btn" autocomplete="off"> Blog</a>
  </label> -->
  <button type="button" name="button" class="btn btn-primary" id="blog" >Blog</button>
</div>
