<div class="navy container">
  <i class="fa fa-bars hamburger" aria-hidden="true"></i>

  <div class="item">
    <a href="/">Home</a>
  </div>
  <div class="item">
    <a href="/about">About</a>
  </div>
  <div class="item">
    Projects
  </div>
  <div class="item contact-item">
    <button type="button" name="button" class="contact-button">Contact</button>
  </div>
</div>
<div class="hamburger-menu">
  <div class="vert-item">
    Home
  </div>
  <div class="vert-item">
    About
  </div>
  <div class="vert-item">
    Projects
  </div>
</div>
