.about-is, .contacts {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5vw 8vh;
}

.skill-item {
  flex-grow: 1;
  flex-basis: 150px;
  padding: 10px;
  line-height: 1.8em;

  h2 {
    margin-bottom: 20px;
  }

  ul {
    padding: 0px;
  }

  li {
    list-style: none;
  }
}

#about {
  flex-grow: 2;
  flex-basis: 300px;
}

#contact {
  padding-left: 8vh;
  margin-bottom: 20px;
}

.contacts {
  padding-top: 0px;
}

.contacts-item {
  font-size: 12px;
  flex-basis: 150px;
  flex-grow: 1;
}

.contacts-item:first-child {
  flex-basis: 300px;
  flex-grow: 2;
}
