.work-item {
  background-color: black;
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  &:hover {
    background-color: grey;
  }
}

.my-name {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-item {
  margin-bottom: 30px;
   p {
     margin-bottom: 0px;
   }
}
