.work-item {
  background-color: rgba(0,0,0,.2);
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  transition: background-color .75s ease-out;
  &:hover {
    background-color: rgba(0,0,0,.4);
  }
}

.my-name {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-item {
  margin-bottom: 30px;
   p {
     margin-bottom: 0px;
   }
}

section {
  margin-bottom: 50px;
}
