@media (min-width: 768px) {
    .hamburger {
      display: none;
      visibility: hidden;
    }
}

@media (max-width: 769px) {
  .item {
    visibility: hidden;
  }
}

.navy {
  background-color: $nav-grey;
  z-index: 100;
  width: 100vw;
  height: 10vh;
  box-shadow: 0px 0px 3px #424242;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  top: 0px;
  left: 0px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.hamburger {
  z-index: 101;
  position: fixed;
  top: 15px;
  left: 10vw;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.item {
  color: white;
  font-family: 'Circular Std Medium';
  font-size: $base-font-size;
  text-align: center;
  flex-basis: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.item:hover {
  color: #28e4b5;
  cursor: pointer;
}

.contact-item {
  flex-basis: 12%;
}

.contact-item:hover {
  color: black;
}

.contact-button {
  background-color: #28e4b5;
  border: none;
  height: 8vh;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}

.hamburger-menu {
  width: 100vw;
  text-align: center;
  display: none;
  position: fixed;
  top: 10vh;
  left: 0px;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 5px 15px #8F8F8F;
  padding-bottom: 2.5vh;
}

.vert-item {
  color: $grey-color;
  font-family: 'Circular Std Black';
  font-size: 34px;
  margin-top: 2.5vh;
  cursor: pointer;
}

.vert-item:hover {
  color: $grey-color-dark;
}
