.project-banner {
  margin-top: 10vh;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  position: relative;
  padding-top: 8vh;

  h1 {
    font-size: 34px;
    margin-left: 10vw;
    z-index: 101;
  }

  img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
}

@media (min-width: 480px) {
  .project-banner {

    h1 {
      font-size: 72px;
    }
  }
}
