.project-card {
  margin-top: 20vh;
  width: 80vw;
  height: 300px;
  background-color: white;
  box-shadow: -10px 10px 20px #d1d1d1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;

  .left-panel {
    padding-left: 35px;
    padding-top: 45px;
    width: 50%;

    h2 {
      color: $grey-color-dark;
      font-family: 'Circular Std Black';
    }

    p {
      color: $grey-color-light;
      font-family: 'Circular Std Book';
    }
  }

  .rt-img {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 50%;
    display: none;
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  .project-card {

    .rt-img {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .project-card {
    height: 400px;
    font-size: 34px;

    .left-panel {
      p {
        font-size: 24px;
      }
    }

    .rt-img {
      height: 400px;
    }
  }
}

@media (min-width: 922px) {
  .project-card {
    height: 430px;
    font-size: 38px;

    .rt-img {
      height: 430px;
    }
  }
}
