.role-del {
  display: flex;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8vh;
  margin-bottom: 25vh;


  .project-item {
    flex-grow: 1;
    min-width: 250px;

    h2 {
      font-family: 'Circular Std Black';
      margin-bottom: 3vh;
    }

    p {
      font-family: 'Circular Std Book';
    }
  }
}

@media (min-width: 768px) {
  .project-item {
    max-width: 350px;
  }

  .project-item:first-child {
    padding-right: 15px;
  }

  .project-item:last-child {
    padding-left: 15px;
  }
}
