.tp-tuple {
  min-width: 320px;
  margin-top: 15vh;

  p {
    font-family: 'Circular Std Book';
    font-size: 18px;
    color: $grey-color-dark;
    line-height: 2.2em;
  }

  .tp-tuple-photo {
    display: none;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 480px) {
  .tp-tuple {
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) {
  .tp-tuple {
    margin-top: 20vh;

    p {
      padding-left: 20px;
      padding-right: 20px;
    }

    .tp-tuple-photo {
      display: block;
    }
  }
}

@media (min-width: 922px) {
  .tp-tuple {
    margin-top: 20vh;

    p {
      font-size: 22px;
    }
  }
}

// @media (min-width: 1200px) {
//
// }
