---
# Only the main Sass file needs front matter (the dashes are enough)
---

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$h1-font-size-lg: 140px;
$h1-font-size-md: 125px;
$h1-font-size-sm: 80px;
$h1-font-size-xs: 50px;
$small-font-size:  12px;
$base-line-height: 1.5;

$text-color:       #0F0F0F;
$text-color-light: #BDBDBD;
$background-color: #FFF;
$brand-color:      #2a7ae2;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Import partials from the `minima` theme.
@import 'home';
@import 'nav-tab';
