<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include navbar.html %}
    <div class="about-is">
      <div class="skill-item" id="about">
        <h2>About</h2>
        <p>{{site.data.about.about}}</p>
      </div>
      <div class="skill-item">
        <h2>Interets</h2>
        <ul>
          {% for item in site.data.about.interests %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skill-item">
        <h2>Skills</h2>
        <ul>
          {% for item in site.data.about.skills %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <h2 id="contact">Contact</h2>
    <div class="contacts">
      <div class="contacts-item">
        <p><strong>LinkedIn:</strong> <a href="{{site.data.about.linked}}">{{site.data.about.linked}}</a></p>
      </div>
      <div class="contacts-item">
        <p><strong>email:</strong> {{site.data.about.email}}</p>
      </div>
      <div class="contacts-item">
        <p><strong>Github:</strong> <a href="https://github.com/mauq">https://github.com/mauq</a></p>
      </div>
    </div>


    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
