<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav-tab.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Blog</h1>
        <p>A glimpse at my journey of becoming a data scientist!</p>
      </div>

    </div>

    <div class="container">
      <div class="col-xs-12 col-sm-8 post-column">
        {{ content }}
      </div>
      <div class="col-sm-offset-1 col-sm-3 archives">
        <h3>Archives</h3>
        <hr></hr>
        <ul>
            <li>July 2017</li>
        </ul>
      </div>
    </div>
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
