<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav-tab.html %}

    <div class="container page-content">
      <h1 class="my-name">Quinn Mau</h1>
      <section id="about-and-contact">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h2>About</h2>
            <hr></hr>
            <p>I'm an aspiring developer from the University of Washington. Have a look at some of my previous projects and my <a href="https://github.com/mauq/portfolio/blob/master/resume.pdf">resume.</a></p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Contact</h2>
            <hr></hr>
            {% for item in site.data.home.contact-items %}
              {% include contact-item.html %}
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- end about and contact -->

      <section id="selected-projects">
        <h2>Selected Projects</h2>
        <hr></hr>
        <div class="row">
          {% for item in site.data.home.projects %}
            {% include project-item.html %}
          {% endfor %}
        </div>
      </section>
      <!-- end selected works -->

    </div>
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
