<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav-tab.html %}

    <div class="container page-content">
      <h1 class="my-name">Quinn Mau</h1>
      <section id="about-and-contact">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h2>About</h2>
            <hr></hr>
            <p>Hi, I'm Quinn. I am currently finishing up my senior year at the University of Washington with a degree in Human Centered Design &amp; Engineering. While most of my coursework and job experience has gone towards UX design and front-end web development, I have decided to change directions and work towards becoming a data scientist. I have an passion for data, mathematics, and graphics and data science to me is the perfect intersection of the three. Outside of work, I love to fly fish, rock climb and mountain climb, and make music.</p>

            <p>Please have a look around my portfolio and don't forget to check out my <a href="/blog">blog</a> where I'll be documenting my journey of becoming a data scientist! If anything strikes your interest and you want to talk, please feel free to contact me!</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Contact</h2>
            <hr></hr>
            <div class="col-xs-12 col-sm-6 contact-item">
              <p>Email:</p>
              <p>mauqj3@gmail.com</p>
            </div>
            <div class="col-xs-12 col-sm-6 contact-item">
              <p>LinkedIn:</p>
              <p><a href="https://www.linkedin.com/in/quinn-mau-199a95113/">https://www.linkedin.com/in/quinn-mau-199a95113/</a></p>
            </div>
            <div class="col-xs-12 col-sm-6 contact-item">
              <p>Phone: </p>
              <p>(360) 742-9838</p>
            </div>
            <div class="col-xs-12 col-sm-6 contact-item">
              <p>Github: </p>
              <p><a href="https://github.com/mauq">https://github.com/mauq</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- end about and contact -->

      <section id="selected-projects">
        <h2>Selected Projects</h2>
        <hr></hr>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="work-item">

            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="work-item">

            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="work-item">

            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="work-item">

            </div>
          </div>
        </div>
      </section>
      <!-- end selected works -->

    </div>

    {% include foot.html %}
  </body>
</html>
